body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-left: 15%;
	margin-right: 15%;
}

.banner {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 0px;
}

.banner.success {
	color: rgb(60, 118, 61);
	border: 1px solid rgb(60, 118, 61);
	background-color: rgb(223, 240, 216);
}

.banner.failed {
	color: rgb(169, 68, 66);
	border: 1px solid rgb(169, 68, 66);
	background-color: rgb(242, 222, 222);
}

.summary {
	padding: 30px 0px;
	width: 100%;
	text-align: center;
}

.summary .label {
	font-size: 14px;
	font-weight: normal;
	color: rgb(119, 119, 119);
}

.summary .value {
	width: 16%;
	font-size: 36px;
	font-weight: bold;
}

.summary .total {
	color: rgb(51, 51, 51);
}

.summary .succeeded {
	color: rgb(60, 118, 61);
}

.summary .failures {
	color: rgb(169, 68, 66);
}

.summary .errors {
	color: rgb(169, 68, 66);
}

.summary .ignored {
	color: rgb(119, 119, 119);
}

.summary .aborted {
	color: rgb(119, 119, 119);
}

.summary .time {
	color: rgb(51, 51, 51);
}

.results {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

.results thead th {
	border: 1px solid rgb(240, 240, 240);
	background-color: rgb(245, 245, 245);
	text-align: left;
	padding: 4px 4px;
}

.results td {
	border: 1px solid rgb(240, 240, 240);
	vertical-align: top;
}

.results .suite {
	font-weight: bold;
}

.results .success {
	color: rgb(51, 51, 51);
}

.results .failure {
	color: rgb(169, 68, 66);
}

.results .ignored {
	color: rgb(119, 119, 119);
}

.results .aborted {
	color: rgb(119, 119, 119);
}

.results .expandable {
	cursor: pointer;
}

.results .duration {
	float: right;
	padding: 0px 4px;
}

.stack-trace {
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: 13px;
	color: rgb(51, 51, 51);
	margin-top: 10px;
	padding-left: 10px;
}

.stack-trace pre {
	margin: 0;
}

.stack-trace-arrow {
	display: block;
	position: relative;
	left: 30px;
	top: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.stack-trace-arrow-inner {
	display: block;
	position: relative;
	left: -10px;
	top: 1px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.failure .stack-trace {
	background-color: rgb(242, 222, 222);
	border-top: 1px solid rgb(169, 68, 66);
}

.failure .stack-trace-arrow {
	border-bottom: 10px solid rgb(169, 68, 66);
}

.failure .stack-trace-arrow-inner {
	border-bottom: 10px solid rgb(242, 222, 222);
}

.ignored .stack-trace {
	background-color: rgb(245, 245, 245);
	border-top: 1px solid rgb(240, 240, 240);
}

.ignored .stack-trace-arrow {
	border-bottom: 10px solid rgb(240, 240, 240);
}

.ignored .stack-trace-arrow-inner {
	border-bottom: 10px solid rgb(245, 245, 245);
}

.aborted .stack-trace {
	background-color: rgb(245, 245, 245);
	border-top: 1px solid rgb(240, 240, 240);
}

.aborted .stack-trace-arrow {
	border-bottom: 10px solid rgb(240, 240, 240);
}

.aborted .stack-trace-arrow-inner {
	border-bottom: 10px solid rgb(245, 245, 245);
}

.icon {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	padding: 0px 4px;
	width: 16px;
}

.icon.success:BEFORE {
	content: '\2714';
	color: rgb(60, 118, 61);
}

.icon.failure:BEFORE {
	content: '\2716';
	color: rgb(169, 68, 66);
}

.icon.ignored:BEFORE {
	content: '\2753';
	color: rgb(119, 119, 119);
}

.icon.aborted:BEFORE {
	content: '\2753';
	color: rgb(119, 119, 119);
}

.indent {
	padding-left: 20px;
}